# These are some of the file formats we will use.
# They are ignored because GitHub has size limits, and these files are large.
*.fa
*.gbk

# These directories will contain those large files, so just ignore all the
# stuff in those directories.
dna-sequences/
protein-sequences/

# These files really don't matter, but my text editor uses them.
# Thus, they are also ignored.
*.swp
